@import 'bourbon/dist/bourbon';
@import 'neat/app/assets/stylesheets/neat';

$grand-header-image-url: '../img/raise.jpeg';
$banner-height: 900px;

@import 'nbnteractive-styles/initialize';
@import 'nbnteractive-styles/theme/theme';

h1 {
	@include sans-serif;
	font-size: 5em;
	font-weight: 800;
	margin-bottom: 5px;
	margin-top: 40px;
	color: #ee2937;
	width: 100%;  
	text-align: center;
}

h2 {
	@include sans-serif;
	font-size: 1.75em;
	font-weight: 500;
	line-height: 1.25em;
	width: 100%;
	text-align: center;
}

h3{
	font-size: 1.25em;
	margin-top: 15px;
	font-weight: 200px;
	width: 100%;
	text-align: center;
}

q {
	@include sans-serif;
	line-height: 1.75;
	font-size: 1.5em;
	text-align: right; 
	font-weight: 300;	
  	border-right: 1px solid grey;
  	padding-right: 15px;
}

.right {
	@include sans-serif;
	line-height: 1.75;
	font-size: 1.5em;
	text-align: right; 
	font-weight: 300;	
  	border-left: 1px solid grey;
  	padding-left: 15px;
  	border-right: none;
  	padding-right: none;
}

hr {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	height: 1px;
	border: 0px;
	background-color: grey;
}

.banner {
	z-index: 0;
}

.highlight-opaque {
	background-color: rgba(29, 9, 51, 0.6);
	box-shadow: -0.4em 0 0 rgba(29, 9, 51, 0.6), 0.4em 0 0 rgba(29, 9, 51, 0.6);
  color: white;
  line-height: 1.65;
  padding: .25em 0; 
  font-weight: 300;
}

.main-content {
	position: relative;
	margin-top: 1em;
	z-index: 10;
	@include media($default-768) { //in main.css I changed each '768' to '950'
  	margin-top: -100px;
  }

}

.prose {
	margin-top: 0px;

	@include media($default-768) {
		margin-top: 120px;
	}
}

#title {
	z-index: 10;
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;

	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 1.5em;
	}


	@include media($default-768) {
	margin-bottom: 40px;
	text-align: center;

    h1{
    	font-size: 5em;
		font-weight: 800;
		margin-bottom: 5px;

    }

    h2{
    	font-size: 1.75em;
		font-weight: 500;
		line-height: 1.75em;
    }
    
  }	

}

  p {
    margin-bottom: .75em;
    margin-top: .75em;
    font-family: Georgia;
    font-size: 1.125em;
    line-height: 1.8em;
  }


#fades { 
	width: 100%;
 }
#fades img { 
	width: 100%; 
	opacity: 0; 
}

#title {
	opacity: 0;
	width: 100%;
}


#bw img {
	-filter: gray;
	-webkit-filter: grayscale(100%);
	transition: 2s ease;
	-webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

#bw:hover img {
	-filter: none;
	-webkit-filter: grayscale(0%);
	-webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}


